extends ..\layout

block content
  .table-responsive
    table.table.table-hover
      thead
        tr
          th Company
          th Size
          th Location
          th Actions
      tbody
        tr
          td Company 1
          td 5
          td City 1, AA 111 BBB
          td
            a(href='/fields/edit/1')
              span.glyphicon.glyphicon-edit
        tr
          td Company 1
          td 5
          td City 1, AA 111 BBB
          td
            a(href='/fields/edit/2')
              span.glyphicon.glyphicon-edit
        tr
          td Company 2
          td 5
          td City 1, AA 111 BBB
          td
            a(href='/fields/edit/3')
              span.glyphicon.glyphicon-edit
        tr
          td Company 2
          td 5
          td City 1, AA 111 BBB
          td
            a(href='/fields/edit/4')
              span.glyphicon.glyphicon-edit
        tr
          td Company 2
          td 5
          td City 1, AA 111 BBB
          td
            a(href='/fields/edit/5')
              span.glyphicon.glyphicon-edit
  a.pull-right(href='/fields/new')
    span.btn.btn-primary  Add Field
