extends ..\layout

block content
  .table-responsive
    table.table.table-hover
      thead
        tr
          th Company
          th Size
          th Location
      tbody
        tr
          td Company 1
          td 5
          td City 1, AA 111 BBB
        tr
          td Company 1
          td 5
          td City 1, AA 111 BBB
        tr
          td Company 2
          td 5
          td City 1, AA 111 BBB
        tr
          td Company 2
          td 5
          td City 1, AA 111 BBB
        tr
          td Company 2
          td 5
          td City 1, AA 111 BBB
