<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Team</th>
        <th>Date</th>
        <th>Field</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="req in vm.requests">
        <td>{{req.team.name}}</td>
        <td>{{req.date}}</td>
        <td>{{req.field.name}}</td>
        <td><a href="#/opponent-requests" ng-click="vm.remove(req._id)">
          <span class="glyphicon glyphicon-remove"></span></a></td>
      </tr>
    </tbody>
  </table>
</div>
