body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.field-search {
    float: right;
    margin-top: -23px;
    margin-right: 10px;
    z-index: 1000;
}
