extends ../layout

block content
  div(ng-controller='TeamEditController')
    form.form-horizontal(role='form')
      .form-group
        label.control-label(for='name') Name
        input#name.form-control(name='name',ng-model='team.name')
      .form-group
        label.control-label(for='players') Players
        input#players.form-control(name='players', type='textarea', ng-model='team.players')
      .form-group
        label.control-label(for='location') Location
        input#location.form-control(name='location', ng-model='team.location')
      .form-group
        label.control-label(for='level') Level
        select#level.form-control(name='level', ng-model='team.level')
          option Begginer
          option Advanced
          option Expert
      button.btn.btn-primary(ng-click='updateTeam()') Update Team
