extends ..\layout

block content
  .table-responsive
    table.table.table-hover
      thead
        tr
          th Name
          th Players
          th Location
          th Level
          th Actions
      tbody
        tr
          td Team 1
          td 5
          td City 1
          td Begginer
          td 
            a(href='/teams/edit/1')
              span.glyphicon.glyphicon-edit
        tr
          td Team 2
          td 6
          td City 2
          td Advanced
          td
            a(href='/teams/edit/2')
              span.glyphicon.glyphicon-edit
        tr
          td Team 3
          td 12
          td City 3
          td Expert
          td
            a(href='/teams/edit/3')
              span.glyphicon.glyphicon-edit
  a.pull-right(href='/teams/new')
    span.btn.btn-primary  Add Team
    
