<success-generic success="vm.updateMsg.success"></success-generic>
<success-generic success="vm.deleteMsg.success"></success-generic>
<success-generic success="vm.createMsg.success"></success-generic>
<error-generic error="vm.updateMsg.error"></error-generic>
<error-generic error="vm.createMsg.error"></error-generic>
<error-generic error="vm.deleteMsg.error"></error-generic>
<error-generic error="vm.error"></error-generic>
<div ng-if="vm.teams == 0">
  <div class="alert alert-info">There are no teams available</div>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Players</th>
        <th>Location</th>
        <th>Level</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="team in vm.teams">
        <td>{{team.name}}</td>
        <td>{{team.players.length}}</td>
        <td>{{team.city}}</td>
        <td>{{team.level}}</td>
        <td>
          <a href="#/teams/edit/{{team._id}}">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a href="#/teams" ng-click="vm.deleteTeam(team._id)">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<show-results results="vm.total"></show-results>
<a href="#/teams/new" class="pull-right">
  <span class="btn btn-primary">Add Team</span>
</a>
