extends ..\layout

block content
  .table-responsive
    table.table.table-hover
      thead
        tr
          th Name
          th Position
          th Number
          th Days
          th Actions
      tbody
        tr
          td Player 1
          td Defense
          td 6
          td Thursday: 21:00
          td
            a(href='/players/edit/1')
              span.glyphicon.glyphicon-edit
        tr
          td Player 2
          td Offense
          td 9
          td Thursday: 21:00, Friday: 15:00
          td
            a(href='/players/edit/2')
              span.glyphicon.glyphicon-edit
        tr
          td Player 3
          td Goalkeeper
          td 1
          td Monday: 18:00, Thursday: 21:00, Friday: 15:00
          td
            a(href='/players/edit/3')
              span.glyphicon.glyphicon-edit
  a.pull-right(href='/players/new')
    span.btn.btn-primary  Add Player
